/* Estilo de la página */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3 {
    margin: 1em 0 0.5em 0;
}

/* Contenedor principal */
main {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    padding: 1em;
}

.productos-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2em;
    justify-items: center;
}

/* Estilos de productos */
.producto {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    padding: 1em;
    margin-bottom: 1em;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0.7em;
}

/* Botón de agregar */
.producto button {
    background: #e7fbe7;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto button img {
    width: 30px;
    height: 30px;
}

.producto button:hover {
    background-color: #d3f3d3;
}

/* Estilos de entradas de cantidad */
.producto input[type="number"] {
    width: 60px;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ddd;
}

/* Estilos de botones */
button {
    font-size: 1.2em;
    padding: 0.7em 1em;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d3f3d3;
}
